# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual Environments
venv/
.venv/
env/
ENV/

# Testing / coverage
.pytest_cache/
.coverage
htmlcov/

# IDE files
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db
